.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

table {
  border: #cecece solid 1px;
  border-spacing: 1px;

 }

table td {
  width: 8px;
  height: 8px;
  border: none;
  margin: 0;
  padding: 0;
}

table td.snake {
  background-color: #cddbf6;
}


table td.apple {
  background-color: red;
}


.gameOver {
  background-color: rgb(230, 168, 127);
  color: black;
  
}